<!DOCTYPE html>
{% from "_formhelper.html" import render_field, render_field_with_errors %}
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <title></title>
	    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles/mainpage.css') }}">
	</head>

		<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
		<form method="POST" action="/info/receiver/" id="form">
			<header>RECIPIENT EMAIL</header>

			{{ render_field_with_errors(form.recipientEmail, class="form-control", placeholder="ENTER EMAIL", style="text-align: center;")}}


			<p><input id="submit" type="submit" value="SEND EMAIL"></p>

		</form>
	</body>
</html>


